<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartFarms</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <div class="table-responsive">
    <table class="table table-striped table-dark">
      <thead>

          <th scope="col">Temp</th>
          <th scope="col">Humid</th>
          <th scope="col">moist1</th>
          <th scope="col">Moist2</th>
          <th scope="col">moist3</th>
          <th scope="col">temp1</th>
          <th scope="col">temp2</th>
          <th scope="col">temp3</th>
        </tr>
      </thead>
      <tbody>
        <%for(let i =0; i<sensors.length;i++){ %>
          <tr>
      
          <td><%=sensors[i].temp%>째c</td>
          <td><%=sensors[i].humid %>%</td>
          <td><%=sensors[i].moist1 %>%</td>
          <td><%=sensors[i].moist2 %>%</td>
          <td><%= sensors[i].moist3 %></td>
          <td><%=sensors[i].temp1 %>째c</td>
          <td><%=sensors[i].temp2 %>째c</td>
          <td><%=sensors[i].temp3 %>째c</td>
          </tr>
        <%  } %>
      </tbody>
    </table>
  </div>





</body>

</html>
