<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mushroom system</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="current-data">
            <p>Temperature</p>
            <p><%=temp%>째C</p>
          </div>

          <div class="current-data">
            <p>Humidity</p>
            <p><%=humid%>%</p>
          </div>

          <div class="current-data">
            <p>moist1</p>
            <p><%=moist1%>%</p>
          </div>

          <div class="current-data">
            <p>moist2</p>
            <p><%=moist2%>%</p>
          </div>

          <div class="current-data">
            <p>moist3</p>
            <p><%=moist3%>%</p>
          </div>

          <div class="current-data">
            <p>temp1</p>
            <p><%=temp1%>째C</p>
          </div>

                <div class="current-data">
                <p>temp2</p>
                      <p><%=temp2%>째C</p>
                  </div>


                          <div class="current-data">
                          <p>temp3</p>
                          <p><%=temp3%>째C</p>
                            </div>
  </body>
</html>
